psycopg2-binary
fastapi
uvicorn
pydantic
sqlalchemy
psycopg[binary]
alembic
python-dotenv
msal
requests
redis
celery
celery-sqlalchemy-scheduler>=0.3.0
croniter>=2.0.0
pytz
simpleeval
pydantic-settings
tenacity
sqladmin[full]
psutil
docker
